body {
  background-color: rgb(232, 245, 248);
  font-family: "Roboto", sans-serif;
}

section {
  margin-bottom: 1rem;
}

h1 {
  text-align: center;
  margin: 2rem;
  color: rgb(48, 48, 48);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

form {
  width: 40rem;
  margin: 0 auto 5rem auto;
  color: rgb(48, 48, 48);
  background-color: rgb(248, 249, 255);
  padding: 1rem;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

label {
  margin-bottom: 0.5rem;
  display: block;
  color: rgb(66, 76, 97);
}

input,
textarea,
select {
  width: 100%;
  display: block;
  margin-bottom: 1rem;
  box-sizing: border-box;
  font: inherit;
  border: 1px solid rgb(190, 207, 226);
  padding: 0.5rem;
  border-radius: 4px;
}

textarea {
  resize: none;
}

input:focus,
textarea:focus {
  background-color: rgb(212, 233, 253);
  color: rgb(17, 43, 97);
  border-color: rgb(22, 34, 100);
}

button {
  font: inherit;
  border: 1px solid rgb(5, 25, 63);
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  cursor: pointer;
}

#form-action {
  text-align: right;
}

.btn-filled {
  background-color: rgb(5, 29, 63);
  color: white;
}

.btn-empty {
  background-color: transparent;
  color: rgb(5, 29, 63);
}

.btn-filled:hover {
  background-color: rgb(33, 74, 141);
  border-color: rgb(33, 74, 141);
}

.btn-empty:hover {
  background-color: rgb(128, 170, 221);
  border-color: rgb(5, 29, 63);
}

.form-control-inline {
  display: flex;
}

.form-control-inline label {
  margin: 0;
  margin-left: 0.5rem;
}

.form-control-inline input {
  width: auto;
  margin-right: 0.5rem;
}
