body {
  background-color: rgb(232, 245, 248);
  font-family: "Roboto", sans-serif;
}

h1 {
  text-align: center;
  margin: 2rem;
  color: rgb(48, 48, 48);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

form {
  width: 40rem;
  margin: auto;
  color: rgb(48, 48, 48);
  background-color: rgb(248, 249, 255);
  padding: 1rem;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

label {
  margin-bottom: 0.5rem;
  display: block;
}

input,
textarea,
select {
  width: 100%;
  display: block;
  margin-bottom: 1rem;
  box-sizing: border-box;
  font: inherit;
  border: 1px solid rgb(184, 184, 184);
  padding: 0.25rem;
  border-radius: 3px;
  color: rgb(61, 58, 58);
}

textarea {
  resize: none;
}

input:focus,
textarea:focus {
  background-color: rgb(190, 223, 253);
  color: rgb(5, 24, 63);
  border-color: rgb(5, 14, 63);
}

button {
  display: flex;
  font: inherit;
  background-color: rgb(5, 29, 63);
  color: white;
  border: 1px solid rgb(5, 25, 63);
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(19, 60, 126);
  border-color: rgb(19, 67, 129);
}

.form-control-inline {
  display: flex;
}

.form-control-inline input {
  width: auto;
  margin-right: 0.5rem;
}
